# Gradle specific .gitignore, see https://github.com/github/gitignore/blob/master/Gradle.gitignore
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# IntelliJ specific files
.idea
*.iml
out


# Maven 
target/

# Eclipse specific
.classpath
.project
.settings/
